.regularText {
  font-size: 15px;
  color: $light-gray;
  line-height: 25px;
}

.h1Text {
  font-size: 56px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.backdrop {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 95px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.647);
  z-index: 98;

  &--noOffset {
    top: 0;
    background-color: rgba(0, 0, 0, 0.967);
  }

  &--displayCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.btn-orange {
  background-color: $primary-orange;
  color: white;

  &:hover {
    background-color: rgb(255, 206, 158);
    cursor: pointer;
  }
}

.p--error {
  color: red;
  font-weight: bold;
}