.regularText {
  font-size: 15px;
  color: $light-gray;
  // margin-bottom: 50px;
  line-height: 25px;
}

.h1Text {
  font-size: 56px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}