$dark-gray: #434343;
$primary-orange: #D87D4A;
$primary-orange-hover: #FBAF85;
$tinted-black: #131313;
$semi-dark-gray: #898989;
$light-gray: #AEAEAE;
$very-light-gray: #F1F1F1;

$tablet-max-width: 850px;