.categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  // border: 2px solid red;

  .category {
    width: 30%;
    max-width: 350px;
    margin-bottom: 150px;
  }
}

@media screen and (max-width: $tablet-max-width) {
  .categories {
    .category {
      width: 32%;
    }
  }
}

@media screen and (max-width: $mobile-max-width) {
  .categories {
    // border: 2px solid red;
    flex-direction: column;
    align-content: center;

    .category {
      width: 100%;
      max-width: unset;
      margin-bottom: 100px;
    }
  }
}
