@import './node_modules/scss-reset/reset';

a {
  text-decoration: none;
  color: black;
}

@import './src/app/styles/variables';
@import './src/app/styles/base';

body {
  font-family: 'Manrope', sans-serif; // Ensure Manrope is applied
}

.main {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: $tablet-max-width) {
  .main {
    width: 95%;
  }
}

@import './src/app/\(shared\)/NavBar/navbar';
@import './src/app/\(shared\)/NavBar/icons-list';
@import './src/app/\(shared\)/NavBar/nav-list';
@import './src/app/\(shared\)/NavBar/nav-modal';

@import './src/app/\(shared\)/Footer/footer';
@import './src/app/\(shared\)/Footer/footer-about';
@import './src/app/\(shared\)/Footer/footer-socialMediaList';

@import './src/app/\(shared\)/Cart/cart-object';
@import './src/app/\(shared\)/Cart/cart-modal';

@import './src/app/\(shared\)/SuccessModal/success-modal';
@import './src/app/\(shared\)/SuccessModal/recipt';
@import './src/app/\(shared\)/SuccessModal/gray-div';

@import './src/app/\(shared\)/Input/input';

@import './src/app/\(shared\)/Product/product';
@import './src/app/\(shared\)/ProductCta/product-cta';
@import './src/app/\(shared\)/ProductCta/product-description-cta';

@import './src/app/\(routes\)/\(home\)/components/HomeBackground/home-background';

@import './src/app/\(routes\)/\(home\)/components/Banner/banner';
@import './src/app/\(routes\)/\(home\)/components/Banner/headphones-image';

@import './src/app/\(routes\)/\(home\)/components/BestSelling/best-selling';
@import './src/app/\(routes\)/\(home\)/components/BestSelling/best-selling-card';

@import './src/app/\(routes\)/category/components/CategoryBackground/category-background';
@import './src/app/\(routes\)/category/components/Products/products';

@import './src/app/\(shared\)/Categories/categories';
@import './src/app/\(shared\)/Categories/category';

@import './src/app/\(routes\)/\(home\)/components/Mission/mission';

@import './src/app/\(routes\)/components/ActionDiv/action-div';
@import './src/app/\(routes\)/components/NumbersInput/numbers-input';

@import './src/app/\(routes\)/product/components/ProductPageBackground/product-page-background';
@import './src/app/\(routes\)/product/components/RecommendedProducts/recommended-products';
@import './src/app/\(routes\)/product/components/RecommendedProducts/recommended-product';
@import './src/app/\(routes\)/product/components/ImageCollague/image-collague';
@import './src/app/\(routes\)/product/components/ProductDiv/product-div';
@import './src/app/\(routes\)/product/components/ProductContent/product-content';
@import './src/app/\(routes\)/product/components/ProductContent/product-features';
@import './src/app/\(routes\)/product/components/ProductContent/product-inTheBox';

@import './src/app/\(routes\)/checkout/components/RadioBtn/radio-btn';
@import './src/app/\(routes\)/checkout/components/CheckoutForm/checkout-form';
@import './src/app/\(routes\)/checkout/components/CheckoutForm/shipping-info';
@import './src/app/\(routes\)/checkout/components/CheckoutForm/payment-details';
@import './src/app/\(routes\)/checkout/components/CheckoutForm/billing-details';
@import './src/app/\(routes\)/checkout/components/Summary/summary';
@import './src/app/\(routes\)/checkout/components/Summary/info-line';
@import './src/app/\(routes\)/checkout/page';

@import './src/app/\(admin\)/admin/\(routes\)/layout';
@import './src/app/\(admin\)/admin/page';
@import './src/app/\(admin\)/components/Toggler/toggler';
@import './src/app/\(admin\)/components/ModifiableCategory/modifiable-category';
@import './src/app/\(admin\)/components/ModifiableList/modifiable-list';
@import './src/app/\(admin\)/components/SideBar/side-bar';
@import './src/app/\(admin\)/components/ModifiableProduct/modifiable-product';

@import './src/app/\(admin\)/admin/\(routes\)/categories/page';
@import './src/app/\(admin\)/admin/\(routes\)/categories/components/CategoriesForm/categories-form';
@import './src/app/\(admin\)/admin/\(routes\)/categories/components/CategoriesSection/categories-section';

@import './src/app/\(admin\)/admin/\(routes\)/products/page';
@import './src/app/\(admin\)/admin/\(routes\)/products/components/ProductsSection/products-section';

@import './src/app/\(admin\)/admin/\(routes\)/addProducts/page';
@import './src/app/\(admin\)/admin/\(routes\)/addProducts/components/AddProductsForm/add-products-form';
