.footer {
  background-color: $tinted-black;
  color: white;
  height: 380px;
  padding-top: 50px;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 80px 15px;
    width: 80%;
    margin: auto;

    &__navList {
      grid-row: 0 / 2;
      // width: 577px;
      // border: 2px solid red;
      align-content: center;
      display: flex;
      justify-content: flex-end;
    }
  }
}
