.categoriesSection {
  // background-color: $very-light-gray;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.577);
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__title {
    @extend .h1Text;
    text-align: center;
    margin-bottom: 100px;
  }

  &__list {
    // border: 3px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px 20px;
    justify-items: center;
  }
}

@media screen and (max-width: $tablet-max-width) {
  .categoriesSection {
    &__list {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: $mobile-max-width) {
  .categoriesSection {
    padding: 25px;

    &__title {
      font-size: 25px;
    }

    &__list {
      &__item {
        width: 100%;
      }
    }

    .modifiableCategory {
      width: 100%;

      .category {
        width: 100%;
      }
    }
  }
}
