.categories {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: $mobile-max-width) {
  .categories {
    // border: 2px solid red;
    flex-direction: column;
    align-content: center;
  }
}