.productCta {
  // border: 2px solid red;

  &__btn {
    background-color: $primary-orange;
    color: white;
    width: 150px;
    height: 50px;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
      background-color: $primary-orange-hover;
    }
  }
}

@media screen and (max-width: $tablet-max-width) {
  .productCta {
    text-align: center;
  }
}

@media screen and (max-width: $mobile-max-width) {
  .productCta {
    width: 100%;
  }
}
