.navIconList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border: 1px solid red;
  font-size: 20px;

  &__item {
    position: relative;
    
    .isNotEmptyBall {
      position: absolute;
      top: -5px;
      right: -10px;
    }
  }

  &__icon {
    color: white;

    &:hover {
      cursor: pointer;
      color: $primary-orange;
    }
  }
}

.isNotEmptyBall {
  width: 5px;
  height: 5px;
  background-color: rgb(238, 221, 34);
  border-radius: 100%;
}