.banner__headPhonesImage {
  width: 585px;
  height: 450px;
  // border: 2px solid red;
  // overflow: hidden;
  background-image: url("/banner-headphones.svg");
  background-position: center bottom;
  background-size: 85%;
  background-repeat: no-repeat;
}