.checkoutForm__shippingInfo {
  // border: 2px solid red;
  // margin-bottom: 65px;

  &__inputsDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px 15px;

    .inputDiv:first-of-type {
      // border: 5px solid red;
      grid-column: 1 / 3;
    }
  }
}

@media screen and (max-width: $mobile-max-width) {
  .checkoutForm__shippingInfo {
    // border: 2px solid red;
    // margin-bottom: 65px;

    &__inputsDiv {
      grid-template-columns: 1fr;

      .inputDiv:first-of-type {
        // border: 5px solid red;
        grid-column: unset;
      }
    }
  }
}
