.adminSideBar {
  background-color: $tinted-black;
  width: 15%;
  min-width: 180px;
  height: 100%;
  text-align: center;
  position: fixed;
  left: 0;
  padding: 25px;

  a {
    color: $light-gray;

    &:hover {
      color: $very-light-gray;
    }
  }

  &__list {
    margin-top: 50px;

    &__item {
      @extend .regularText;
      margin-bottom: 25px;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: $mobile-max-width) {
  .adminSideBar {
    width: 100%;
    min-width: unset;
    height: fit-content;
    text-align: unset;
    position: absolute;

    &__list {
      margin-top: 25px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      &__item {
        margin-bottom: unset;
      }
    }
  }
}
