.blackBackground {
  background-image: url("/banner-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 729px;
  width: 100%;
  z-index: -1;
  border-radius:0 0 10px 10px;
}

@media screen and (max-width: $tablet-max-width) {
  .blackBackground {
    background-image: url("/banner-background-tablet.png");
    border-radius:0;
  }
}

@media screen and (max-width: $mobile-max-width) {
  .blackBackground {
    background-image: url("/banner-background-mobile.png");
  }
}