.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $dark-gray;
  color: white;
  padding: 30px 10px;
  margin-bottom: 40px;
  height: 97px;
  z-index: 10;

  &__hamLogo {
    display: flex;
    // border: 2px solid red;

    &__hamburger {
      margin-right: 20px;
    }
  }
}