.footer__container__lowerPart__socialMediaList {
  // border: 2px solid red;
  width: 45%;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;

  & > ul {
    display: flex;
    justify-content: space-between;
    // border: 2px solid blue;
    width: 20%;
  }
}

@media screen and (max-width: $tablet-max-width) {
  .footer__container__lowerPart__socialMediaList {
    width: 100%;
    margin-top: unset;
  }
}

@media screen and (max-width: $mobile-max-width) {
  .footer__container__lowerPart__socialMediaList {
    width: 100%;
    margin-top: 50px;
    justify-content: center;

    & > ul {
      width: 40%;
    }
  }
}