.footer__container__lowerPart__about {
  width: 577px;
  // padding-top: 20px;
  // border: 1px solid red;

  &__description {
    margin-bottom: 70px;
    @extend .regularText;
  }

  &__copyrights {
    @extend .regularText;
  }
}

@media screen and (max-width: $tablet-max-width) {
  .footer__container__lowerPart__about {
    width: 100%;
  }
}