.addProductsPage {
  margin: 30px 60px 0 0;
  width: 75%;
  padding: 35px;
}

@media screen and (max-width: $tablet-max-width) {
  .addProductsPage {
    margin: unset;
    // border: 2px solid red;
    padding: 55px;
  }
}

@media screen and (max-width: $mobile-max-width) {
  .addProductsPage {
    margin: 200px auto;
    padding: unset;
    width: 95%;
  }
}